{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/view_history.css') }}">
{% endblock %}

{% block content %}
<div class="container" id="main">
    <main>
        <div class="container">
            <section class="transaction-section">
                <div class="header">
                    <h2>View Transactions</h2>
                    <h3>{{ current_user.name }}, Your Issued Books</h3>
                </div>
                <table class="transaction-table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Date</th>
                            <th>Book Title</th>
                            <th>Author</th>
                            <th>Type</th>
                            <th>Issued To</th>
                            <th>Issued By</th>
                        </tr>
                    </thead>
                    {% for transaction in transactions %}
                    <tbody>
                        <tr>
                            <td>{{transaction["id"]}}</td>
                            <td>{{transaction["date"]}}</td>
                            <td>{{transaction["book"]["title"]}}</td>
                            <td>{{transaction["author_name"]}}</td>
                            <td>{{transaction["type"]}}</td>
                            <td>{{transaction["member"]["name"]}}</td>
                            <td>{{transaction["employee"]["name"]}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </section>
        </div>
    </main>
</div>
{% endblock %}
